SGID_CLIENT_ID=
SGID_CLIENT_SECRET=
SGID_PRIVATE_KEY=
JWT_SECRET=
SENDGRID_API_KEY=
EMAIL_FROM=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXT_PUBLIC_NEXTAUTH_URL=http://localhost:5001
NEXTAUTH_URL=http://localhost:5001
FACEBOOK_ID=
FACEBOOK_SECRET=
NEXT_PUBLIC_BASEURL=http://localhost:4000

# PostgreSQL connection string used for migrations
DIRECT_URL=
# PostgreSQL connection string with pgBouncer config — used by Prisma Client
DATABASE_URL=